<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAdd()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doAdd()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="addData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Dosage</span>
          <input type="number" ng-model="addData.dosage">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
