<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doAdd()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="addData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Text</span>
          <input type="text" ng-model="addData.text">
        </label>
<div class="button-bar">

   <label class="item item-radio" 
      <input type="radio" name="group1" >
      <div class="item-content">
         1
      </div>
   </label>
   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         2
      </div>
   </label>
   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         3
      </div>
   </label>
   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         4
      </div>
   </label>
   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         5
      </div>
   </label>
   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         6
      </div>
   </label>
   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         7
      </div>
   </label>
   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         8
      </div>
   </label>
   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         9
      </div>
   </label>
   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         10
      </div>
   </label>

</div>
        <!--ion-item>
          <ion-label floating>Note</ion-label>
          <ion-textarea [(ngModel)]="addData.text"></ion-textarea>
        </ion-item-->
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
