<ion-view view-title="Shelf">
  <ion-content ng-controller="MedsCtrl">
    <ion-toggle ng-model="shouldShowDelete">
    Show Delete?
    </ion-toggle>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <ion-item class='med' ng-repeat="med in meds" href="#/app/shelf/{{$index}}">
        <div class='cap'>
          {{med.dosage}}
        </div>
        <div class='label'>
          <h2>{{med.name}}</h2>
          <p>{{med.dosage}} {{med.dosageText}} {{med.takeTime}}</p>
        </div>
        <ion-option-button class="button-assertive" ng-click="edit(item)">Edit</ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="onMedDelete($index)"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>